.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bgColor);
}
.profile-background {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url('./../../img/profile-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid #7E8C8A;
    border-radius: 5px;
}
